.git
.gitignore
.env
.env.*
!.env.docker
.docker
docker-compose.yml
Dockerfile
*.md
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
.idea
.vscode
*.log
